{% extends 'base.html' %}
{% block title %}
  Посты моих любимых авторов
{% endblock %}
{% block content %}
  <div class="container">
    <h1>
      Посты моих любимых авторов
    </h1>
    {% include 'includes/switcher.html' with follow=True%}
    {% for post in page_obj %}
      {% include 'includes/post.html' %}
      {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
      {% endif %}
      {% if not forloop.last %}<hr>{% endif %}
    {% endfor %} 
    {% include 'includes/paginator.html' %}
  </div>
{% endblock %}